<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>File not found!</title>
<link rel="stylesheet" href="{{ url_for('static', filename= 'error.css') }}" />
</head>

<body>
<h1>Error 404: File not found!</h1>

</body>
</html>